html,body{
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.icon{
    position:absolute;
    left:3rem;
    bottom:.3rem;
    width: .4rem;
    height: .18rem;
    background: url("../img/icon.png") no-repeat;
    background-size: cover;
    z-index: 999;
    opacity: .8;
    animation:icon 1s .2s infinite linear both;
    -webkit-animation:icon 1s .2s infinite linear both;
}
.hovertreeball{
    background: transparent;
    position: absolute;
    z-index: 2;
}
.swiper-pagination-bullet-active{
    background: rgba(0,139,139,.7);
}
.music{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top:0.3rem;
    right:0.3rem;
    z-index: 1111;
    background: url(../img/music.png) no-repeat;
    background-size: cover;
    opacity: 0;
}
.musicMove{
    opacity: 1;
    animation:move 1s infinite linear both;
    -webkit-animation:move 1s infinite linear both;
}
.note{
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    top:0.15rem;
    right: 0.1rem;
    z-index: 2000;
}
.note_play{
    background: url(../img/music1.gif) no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 2000;
}
.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    overflow: hidden;
}
.bg{
    width: 100%;
    height: 100%;
    background:url("../img/swiper/bg23.JPG") no-repeat rgba(255,255,255,0.5);
    background-size: cover;
    transition: 2s;
    transform: scale(1.2);
    z-index: -2;
}

.slide1 p{
    position: absolute;
    left: .9rem;
    top: 1rem;
    width: 4.6rem;
    height: 8.6rem;
    border: .06rem solid rgba(0,139,139,.2);
}

img{
     opacity: 0;
     position: absolute;
 }
ul,span,p{
    opacity: 0;
}
.slide1 .headImg{
     position: absolute;
     left: 1.7rem;
     top: 2rem;
 }
.slide1 .title img:nth-child(1){
    left: 1.5rem;
    top: 6rem;
    transform: rotate(-20deg);
}
.slide1 .title img:nth-child(2){
    left: 3rem;
    top: 6rem;
    transform: rotate(10deg);
}
.slide1 .title img:nth-child(3){
    left: 2.5rem;
    top: 7.5rem;
    transform: rotate(10deg);
}
.slide1 .title img:nth-child(4){
    left: 4rem;
    top: 7.5rem;
    transform: rotate(-5deg);
}
.slide1 .title img:nth-child(5){
    left: 4.2rem;
    top: 7.6rem;
    transform: rotate(-5deg);
}
.slide1 .slide1_bg img:nth-child(1){
    left:.5rem;
    bottom: -2rem;
    width: 5rem;
}

.slide1 .slide1_bg img:nth-child(2){
    left:.5rem;
    bottom: 2rem;
    width: 5rem;
}
.slide1 .slide1_bg img:nth-child(3){
    left:.5rem;
    width: 5rem;
}
#page1 .bg, #page2 .bg, #page3 .bg, #page4 .bg, #page5 .bg{
    transform: scale(1);
}
#page1 p:nth-child(1){
    animation:flipInY 2s .2s both;
    -webkit-animation:flipInY 2s .2s both;
}
#page1 p:nth-child(2){
    animation:flipInY 2s .4s both;
    -webkit-animation:flipInY 2s .4s both;
}
#page1 p:nth-child(3){
    animation:flipInY 2s .6s both;
    -webkit-animation:flipInY 2s .6s both;
}
#page1 p:nth-child(4){
    animation:flipInY 2s .8s both;
    -webkit-animation:flipInY 2s .8s both;
}
#page1 img, #page1 p{
    opacity: 1;
}
#page1 .headImg{
    animation:zoomIn 1.5s .6s both;
    -webkit-animation:zoomIn 1.5s .6s both;
}
#page1 .title img:nth-child(1){
    animation:zoomInLeft  2s .8s both;
    -webkit-animation:zoomInLeft 2s .8s both;
    transition: 1s ;
}
#page1 .title img:nth-child(2){
    animation:zoomInRight  2s 1s both;
    -webkit-animation:zoomInRight 2s 1s both;
}
#page1 .title img:nth-child(3){
    animation:zoomInDown  2s 1.2s both;
    -webkit-animation:zoomInDown 2s 1.2s both;
}
#page1 .title img:nth-child(4){
    animation:zoomInUp  2s 1.4s both;
    -webkit-animation:zoomInUp 2s 1.4s both;
}
#page1 .title img:nth-child(5){
    animation:rotateIn  4s 2s both;
    -webkit-animation:rotateIn 4s 2s both;
}


.slide2 .imgP2 img:nth-child(1){
    left: 1.2rem;
    top: .6rem;
    width: 4rem;
}
.slide2 .imgP2 img:nth-child(2){
    left: 1.4rem;
    top: .9rem;
    width: .8rem;
    z-index: 3;
}
.slide2 .imgP2 img:nth-child(3){
    left: 0.8rem;
    top: 2.4rem;
    width: .05rem;
    height: 4rem;
}
.slide2 .imgP2 img:nth-child(4){
    left: .6rem;
    top: 2.6rem;
    width: 4rem;
    height: .05rem;
}
.slide2 .imgP2 img:nth-child(5){
    left: 2.8rem;
    top: 9.4rem;
    width: 3.5rem;
    height: .05rem;
}
.slide2 .imgP2 img:nth-child(6){
    left: 5.4rem;
    top: 7.2rem;
    width: 0.05rem;
    height: 3rem;
}

.slide2 .self_info{
    position: absolute;
    left: 2rem;
    font-size: .6rem;
    top: .8rem;
    font-weight: bold;
    color: darkcyan;
}

.slide2 ul{
    position: absolute;
    left: 1.2rem;
    top: 2.6rem;
}
.slide2 ul li{
    background: url("../img/slide2/bg_2.png") repeat-x bottom;
    height: 1rem;
    width: 4rem;
}
.slide2 ul li span{
    float: left;
    height: 1rem;
    line-height: 1rem;
    text-align: left;
    font-size: .26rem;
    font-weight: bold;
    color: darkcyan;
}
.slide2 ul li span:nth-child(1){
    width: 1.4rem;
    text-align: center;
}
.slide2 ul li span:nth-child(2){
    width: 2.5rem;
}
#page2 img{
    opacity: 1;
}
#page2 ul, #page2 span{
    opacity: 1;
}
#page2 img:nth-child(1){
     animation:rollIn  1s .2s both;
     -webkit-animation:rollIn 1s .2s both;
 }
#page2 img:nth-child(2){
    animation:moveRound  .6s .6s linear both;
    -webkit-animation:moveRound .6s .6s linear both;
}
@keyframes moveRound {
    0%{
        transform: translate(0rem,0rem);
        opacity: 0;
 
    }
    10%{
         transform: translate(-0.4rem,.3rem);
         opacity: .4;
       
     }
    20%{
        transform: translate(0rem,.4rem);
        opacity: .6;
    
    }
    30%{
        transform: translate(.4rem,.4rem);
        opacity: .8;
      
    }
    40%{
        transform: translate(1rem,.5rem);
    }
    50%{
        transform: translate(1.5rem,.4rem);
        opacity: 1;
    }
    60%{
        transform: translate(2rem,.4rem);
    }
    70%{
        transform: translate(2.4rem,.4rem);
    }
    80%{
        transform: translate(2.6rem,.3rem);
    }
    90%{
        transform: translate(3.1rem,-.3rem);
    }
    100%{
        transform: translate(2.8rem,-.4rem);
    }
}
#page2 img:nth-child(3){
    animation:zoomIn  1s 2s both;
    -webkit-animation:zoomIn 1s 2s both;
}
#page2 img:nth-child(4){
    animation:zoomIn  1s 2s both;
    -webkit-animation:zoomIn 1s 2s both;
}
#page2 img:nth-child(5){
    animation:zoomIn  1s 2s both;
    -webkit-animation:zoomIn 1s 2s both;
}
#page2 img:nth-child(6){
    animation:zoomIn  1s 2s both;
    -webkit-animation:zoomIn 1s 2s both;
}
#page2 .self_info{
    animation:rotateIn  1s .4s both;
    -webkit-animation:rotateIn 1s .4s both;
}
#page2 ul li:nth-child(1){
    animation:bounceInLeft  1s 1s both;
    -webkit-animation:bounceInLeft 1s 1s both;
}
#page2 ul li:nth-child(2){
    animation:bounceInRight  1s 1.2s both;
    -webkit-animation:bounceInRight 1s 1.2s both;
}
#page2 ul li:nth-child(3){
    animation:bounceInLeft  1s 1.4s both;
    -webkit-animation:bounceInLeft 1s 1.4s both;
}
#page2 ul li:nth-child(4){
    animation:bounceInRight  1s 1.6s both;
    -webkit-animation:bounceInRight 1s 1.6s both;
}
#page2 ul li:nth-child(5){
    animation:bounceInLeft  1s 1.8s both;
    -webkit-animation:bounceInLeft 1s 1.8s both;
}
#page2 ul li:nth-child(6){
    animation:bounceInRight  1s 2s both;
    -webkit-animation:bounceInRight 1s 2s both;
}
.slide3 .imgP3 img:nth-child(1), .slide4 .imgP4 img:nth-child(1){
    left: 1.2rem;
    top: .9rem;
    width: 4rem;
}
.slide3 .imgP3 img:nth-child(2){
    left: 0;
    top: 0;
    width: 1rem;
}
.slide3 .imgP3 img:nth-child(3){
    left: 1.8rem;
    top: .6rem;
    width: 1rem;
    z-index: 3;
}
.slide3 .imgP3 span, .slide4 .imgP4 span{
    position: absolute;
    font-size: .6rem;
    color:darkcyan;
    font-weight: bold;
    z-index: 2;
}
.slide3 .imgP3 span:nth-child(4), .slide4 .imgP4 span:nth-child(2){
    left: 1.7rem;
    top: 1rem;
}
.slide3 .imgP3 span:nth-child(5), .slide4 .imgP4 span:nth-child(3){
    left: 2.4rem;
    top: 1rem;
}
.slide3 .imgP3 span:nth-child(6), .slide4 .imgP4 span:nth-child(4){
    left: 3.2rem;
    top: 1rem;
}
.slide3 .imgP3 span:nth-child(7), .slide4 .imgP4 span:nth-child(5){
    left: 4rem;
    top: 1rem;
}
.slide3 .showP3{
    overflow: hidden;
    position: absolute;
    left: .8rem;
    top:2.6rem;
}
.slide3 .showP3 ul{
    float: left;
}
.slide3 .showP3 .notion li{
    width: .5rem;
    height: .5rem;
    background: rgba(255,255,255,.8);
    border-radius:50%;
    margin-bottom: .5rem;

}
.slide3 .showP3 .notion li span{
    background: url("../img/slide3/slide1-5.png") no-repeat;
    background-size: cover;
    display: inline-block;
    width: .5rem;
    height: .5rem;
}
.slide3 .showP3 .infoP3{
    margin-left: .3rem;
}
.slide3 .showP3 .infoP3 li{
    height: .6rem;
    width: 4.2rem;
    border-radius: .2rem;
    background: rgba(255,255,255,.5);
    line-height: .6rem;
    text-align: left;
    margin-bottom: .4rem;
    text-indent: .1rem;
}
.slide3 .showP3 .infoP3 li span{
    display: inline-block;
    height: .5rem;
    color:darkcyan;
    font-size: .3rem;
    font-weight: bold;
}
#page3 img{
    opacity: 1;
}
#page3 ul, #page3 span{
    opacity: 1;
}
#page3 .imgP3 img:nth-child(1){
    animation:zoomIn  .5s .2s both;
    -webkit-animation:zoomIn .5s .2s both;
}
#page3 .imgP3 img:nth-child(2){
    animation:fly  1s .4s both;
    -webkit-animation:fly 1s .4s both;
}
#page3 .imgP3 img:nth-child(3){
    animation:pencil  1s .4s both;
    -webkit-animation:pencil 1s .4s both;
}
#page3 .imgP3 span:nth-child(4){
    animation:zoomIn  .5s .6s both;
    -webkit-animation:zoomIn .5s .6s both;
}
#page3 .imgP3 span:nth-child(5){
    animation:zoomIn  .5s .8s both;
    -webkit-animation:zoomIn .5s .8s both;
}
#page3 .imgP3 span:nth-child(6){
    animation:zoomIn  .5s 1s both;
    -webkit-animation:zoomIn .5s 1s both;
}
#page3 .imgP3 span:nth-child(7){
    animation:zoomIn  .5s 1.2s both;
    -webkit-animation:zoomIn .5s 1.2s both;
}
#page3 .showP3 .notion li:nth-child(1){
    animation:slideInLeft  .5s 1.2s both;
    -webkit-animation:slideInLeft .5s 1.2s both;
}
#page3 .showP3 .notion li:nth-child(1) span:nth-child(1){
    animation:move 2s 1.2s infinite linear both;
    -webkit-animation:move 2s 1.2s infinite linear both;
}
#page3 .showP3 .notion li:nth-child(2){
    animation:slideInLeft  .5s 1.3s both;
    -webkit-animation:slideInLeft .5s 1.3s both;
}
#page3 .showP3 .notion li:nth-child(2) span:nth-child(1){
    animation:move 2s 1.3s infinite linear both;
    -webkit-animation:move 2s 1.3s infinite linear both;
}
#page3 .showP3 .notion li:nth-child(3){
    animation:slideInLeft  .5s 1.4s both;
    -webkit-animation:slideInLeft .5s 1.4s both;
}
#page3 .showP3 .notion li:nth-child(3) span:nth-child(1){
    animation:move 2s 1.4s infinite linear both;
    -webkit-animation:move 2s 1.4s infinite linear both;
}
#page3 .showP3 .notion li:nth-child(4){
    animation:slideInLeft  .5s 1.5s both;
    -webkit-animation:slideInLeft .5s 1.5s both;
}
#page3 .showP3 .notion li:nth-child(4) span:nth-child(1){
    animation:move 2s 1.5s infinite linear both;
    -webkit-animation:move 2s 1.5s infinite linear both;
}
#page3 .showP3 .notion li:nth-child(5){
    animation:slideInLeft  .5s 1.6s both;
    -webkit-animation:slideInLeft .5s 1.6s both;
}
#page3 .showP3 .notion li:nth-child(5) span:nth-child(1){
    animation:move 2s 1.6s infinite linear both;
    -webkit-animation:move 2s 1.6s infinite linear both;
}
#page3 .showP3 .notion li:nth-child(6){
    animation:slideInLeft  .5s 1.7s both;
    -webkit-animation:slideInLeft .5s 1.7s both;
}
#page3 .showP3 .notion li:nth-child(6) span:nth-child(1){
    animation:move 2s 1.7s infinite linear both;
    -webkit-animation:move 2s 1.7s infinite linear both;
}
#page3 .showP3 .notion li:nth-child(7){
    animation:slideInLeft  .5s 1.8s both;
    -webkit-animation:slideInLeft .5s 1.8s both;
}
#page3 .showP3 .notion li:nth-child(7) span:nth-child(1){
    animation:move 2s 1.8s infinite linear both;
    -webkit-animation:move 2s 1.8s infinite linear both;
}
#page3 .showP3 .infoP3 li:nth-child(1){
    animation:slideInRight  .5s 1.2s both;
    -webkit-animation:slideInRight .5s 1.2s both;
}
#page3 .showP3 .infoP3 li:nth-child(1) span:nth-child(1){
    animation:zoomIn .5s 1.8s both;
    -webkit-animation:zoomIn .5s 1.8s both;
}
#page3 .showP3 .infoP3 li:nth-child(2){
    animation:slideInRight  .5s 1.3s both;
    -webkit-animation:slideInRight .5s 1.3s both;
}
#page3 .showP3 .infoP3 li:nth-child(2) span:nth-child(1){
    animation:zoomIn .5s 1.9s both;
    -webkit-animation:zoomIn .5s 1.9s both;
}
#page3 .showP3 .infoP3 li:nth-child(3){
    animation:slideInRight  .5s 1.4s both;
    -webkit-animation:slideInRight .5s 1.4s both;
}
#page3 .showP3 .infoP3 li:nth-child(3) span:nth-child(1){
    animation:zoomIn .5s 2s both;
    -webkit-animation:zoomIn .5s 2s both;
}
#page3 .showP3 .infoP3 li:nth-child(4){
    animation:slideInRight  .5s 1.5s both;
    -webkit-animation:slideInRight .5s 1.5s both;
}
#page3 .showP3 .infoP3 li:nth-child(4) span:nth-child(1){
    animation:zoomIn .5s 2.1s both;
    -webkit-animation:zoomIn .5s 2.1s both;
}
#page3 .showP3 .infoP3 li:nth-child(5){
    animation:slideInRight  .5s 1.6s both;
    -webkit-animation:slideInRight .5s 1.6s both;
}
#page3 .showP3 .infoP3 li:nth-child(5) span:nth-child(1){
    animation:zoomIn .5s 2.2s both;
    -webkit-animation:zoomIn .5s 2.2s both;
}
#page3 .showP3 .infoP3 li:nth-child(6){
    animation:slideInRight  .5s 1.7s both;
    -webkit-animation:slideInRight .5s 1.7s both;
}
#page3 .showP3 .infoP3 li:nth-child(6) span:nth-child(1){
    animation:zoomIn .5s 2.3s both;
    -webkit-animation:zoomIn .5s 2.3s both;
}
#page3 .showP3 .infoP3 li:nth-child(7){
    animation:slideInRight  .5s 1.8s both;
    -webkit-animation:slideInRight .5s 1.8s both;
}
#page3 .showP3 .infoP3 li:nth-child(7) span:nth-child(1) {
    animation: zoomIn .5s 2.4s both;
    -webkit-animation: zoomIn .5s 2.4s both;
}

.slide4 .imgP4 img:nth-child(6){
    left: 2.5rem;
    top: .3rem;
    width: 2.3rem;
}
.slide4 .workShow{
    position: absolute;
    left: .4rem;
    top:3rem;
    width: 5.6rem;
    height: 7rem;
}
.slide4 .workShow li{
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: .6rem;
    float: left;
    display: inline-block;
    background: url("../img/slide4/p4-1.png") no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 2.5rem;
}
.slide4 .workShow li:nth-child(even){
    margin-left: .6rem;
}

.slide4 .workShow li span:nth-child(1){
    margin-top: .8rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    display:block ;
    font-weight: bold;
    font-size: .25rem;
    color: darkcyan;
}
.slide4 .workShow li span:nth-child(2){
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    display:block ;
    font-size: .32rem;
    color: darkcyan;
}
#page4 img, #page4 span, #page4 li, #page4 ul{
    opacity: 1;
}
#page4 .imgP4 img:nth-child(1){
    animation: rotateIn .5s .2s both;
    -webkit-animation: rotateIn .5s .2s both;
}
#page4 .imgP4 span:nth-child(2){
    animation: bounceInLeft .5s .4s both;
    -webkit-animation: bounceInLeft .5s .4s both;
}
#page4 .imgP4 span:nth-child(3){
    animation: bounceInDown .5s .5s both;
    -webkit-animation: bounceInDown .5s .5s both;
}
#page4 .imgP4 span:nth-child(4){
    animation: bounceInRight .5s .6s both;
    -webkit-animation: bounceInRight .5s .6s both;
}
#page4 .imgP4 span:nth-child(5){
    animation: bounceInUp .5s .7s both;
    -webkit-animation: bounceInUp .5s .7s both;
}
#page4 .imgP4 img:nth-child(6){
    animation: zoomInDown .5s .9s both;
    -webkit-animation: zoomInDown .5s .9s both;
}
#page4 .workShow li:nth-child(1){
    animation: fadeInLeft 1s 1.1s both;
    -webkit-animation: fadeInLeft 1s 1.1s both;
}
#page4 .workShow li:nth-child(4){
    animation: fadeInRight 1s 1.1s both;
    -webkit-animation: fadeInRight 1s 1.1s both;
}
#page4 .workShow li:nth-child(1) span, #page4 .workShow li:nth-child(4) span{
    animation: zoomIn .5s 2s both;
    -webkit-animation: zoomIn .5s 2s both;
}
#page4 .workShow li:nth-child(3){
    animation: fadeInLeft 1s 2s both;
    -webkit-animation: fadeInLeft 1s 2s both;
}
#page4 .workShow li:nth-child(2){
    animation: fadeInRight 1s 2s both;
    -webkit-animation: fadeInRight 1s 2s both;
}
#page4 .workShow li:nth-child(3) span, #page4 .workShow li:nth-child(2) span{
    animation: zoomIn .5s 3s both;
    -webkit-animation: zoomIn .5s 3s both;
}

.slide5 .flowers p{
    display: inline-block;
    position: absolute;
    left: 2rem;
    top: .5rem;
    width: 2.5rem;
    height: 2rem;
    background: url(../img/slide5/p4_4.png) no-repeat;
    background-size: cover;
    opacity: .8;
    z-index: 1;
}

.slide5 .flowers div{
    position: absolute;
    left: 2rem;
    top: 1rem;
    width: 2.6rem;
    height: 1rem;
    background: rgba(255,255,255,.5);
    border-radius: .5rem;
    font-size: 0.3rem;
    text-align: center;
    line-height: 1rem;
    font-weight: bold;
    color: darkcyan;
    opacity: 0;
}
.slide5 .wechat{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 2.5rem;
    left: 1.2rem;
}
.slide5 .wechat img{
    width: 4rem;
    height: 4rem;
}

.slide5 .wechat span{
    position: absolute;
    left: .7rem;
    top: 4.1rem;
    display: inline-block;
    width: 2.6rem;
    height: .6rem;
    background: rgba(255,255,255,.5);
    border-radius: .5rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: .6rem;
    font-weight: bold;
    color: darkcyan;
}
.slide5 .address li{
    position: absolute;
    width: 4rem;
    left:1.2rem;
    top:7.5rem;
    height: 1rem;
    background: rgba(255,255,255,.5);
    border-radius: .5rem;
    font-size: 0.3rem;
    text-align: center;
    line-height: 1rem;
    font-weight: bold;
    color: darkcyan;
}
.slide5 .address li:nth-child(2){
    top:8.7rem;
}
#page5 p, #page5 ul, #page5 li, #page5 span, #page5 div{
    opacity: 1;
}
#page5 .wechat img{
    animation: rotateIn .5s .2s both;
    -webkit-animation: rotateIn .5s .2s both;
}
#page5 .wechat span{
    animation: zoomIn .5s .4s both;
    -webkit-animation: zoomIn .5s .4s both;
}
#page5 .flowers div{
    animation: fadeInDownBig 1s .6s both;
    -webkit-animation: fadeInDownBig 1s .6s both;
}
#page5 .address li:nth-child(1){
    animation: fadeInLeft .5s .8s both;
    -webkit-animation: fadeInLeft .5s .8s both;
}
#page5 .address li:nth-child(2){
    animation: fadeInRight .5s .9s both;
    -webkit-animation: fadeInRight .5s .9s both;
}
#page5 .flowers p{
    animation: flash 1s 1.5s both;
    -webkit-animation: flash 1s 1.5s both;
}
@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes fly {
    0%{
        transform: translate(-1rem,0rem);
    }
    20%{
        transform: translate(.2rem,.2rem);
    }
    40%{
        transform: translate(.6rem,.5rem);
    }
    60%{
        transform: translate(.8rem,.3rem);
    }
    80%{
        transform: translate(1rem,.4rem);
    }
    100%{
        transform: translate(1.2rem,.3rem);
    }
}

@-webkit-keyframes fly {
    0%{
        transform: translate(-1rem,0rem);
    }
    20%{
        transform: translate(.4rem,.2rem);
    }
    40%{
        transform: translate(.6rem,.5rem);
    }
    60%{
        transform: translate(.8rem,.3rem);
    }
    80%{
        transform: translate(1rem,.4rem);
    }
    100%{
        transform: translate(1.2rem,.5rem);
    }
}
@keyframes pencil{
    0%{
        transform: translate(0rem,0rem);
    }
    20%{
        transform: translate(.6rem,.2rem);
    }
    40%{
        transform: translate(1.2rem,-.2rem);
    }
    60%{
        transform: translate(1.7rem,.4rem);
    }
    80%{
        transform: translate(2.5rem,-.5rem);
    }
    100%{
        transform: translate(3rem,.1rem);
    }
}
@-webkit-keyframes pencil{
    0%{
        transform: translate(0rem,0rem);
    }
    20%{
        transform: translate(.6rem,.3rem);
    }
    40%{
        transform: translate(1.2rem,-.3rem);
    }
    60%{
        transform: translate(1.7rem,.4rem);
    }
    80%{
        transform: translate(2.5rem,-.5rem);
    }
    100%{
        transform: translate(3rem,.1rem);
    }
}
@keyframes icon {
    0%{
        transform: translateY(0rem);
        opacity: 1;
    }
    100%{
        transform: translateY(-.3rem);
        opacity: 0;
    }
}
@-webkit-keyframes icon {
    0%{
        transform: translateY(0rem);
        opacity: 1;
    }
    100%{
        transform: translateY(-.3rem);
        opacity: 0;
    }
}